{% extends 'base/frontend.html' %}

{% block title %}{% if accion == nuevo %}Nou professor{% else %}Edició professor{% endif %} | Gestió de Cursos{% endblock %}

{% block ruta %}Coordinació: <a href="/coordinacio/professorat">Gestió del Professorat</a> | {% if accion == nuevo %}Nou professor{% else %}Edició professor{% endif %}{% endblock %}

{% block tituloPagina %}{% if accion == nuevo %}Nou professor{% else %}Edició professor{% endif %}{% endblock %}

{% block contenido %}
					  <form action="{% if accion == nuevo %}./nou{% else %}./edita{% endif %}" method="post">
					  <table border="0" cellpadding="0" cellspacing="0" width="100%"> 
					  	  <tr>
					  	  	<td class="list">
					  	  	<b>Informació</b><br/>
					  	  	<ul>
						  	  	<li>
							  	  	<table>
							  	  		<tr>
							  	  			<td width="125px"><label for="id_nombre">Nom:</label></td>
							  	  			<td>{{ form.nombre }}</td>
							  	  			<td>{{ form.nombre.errors }}</td>
							  	  		</tr>
							  	  		<tr>
							  	  			<td width="125px"><label for="id_usuarioUJI">Usuari UJI:</label></td>
							  	  			<td>{{ form.usuarioUJI }}</td>
							  	  			<td>{{ form.usuarioUJI.errors }}</td>
							  	  		</tr>
							  	  		<tr>
							  	  			<td width="125px"><label for="id_rol">Rol:</label></td>
							  	  			<td>{{ form.rol }}</td>
							  	  			<td>{{ form.rol.errors }}</td>
							  	  		</tr>
							  	  	</table>
						  	  	</li>
					  	  	</ul>
					  	  	</td>
					  	</tr>
					  </table>
					  <input type="submit" value="Guarda canvis" onclick="if (!confirm('Estas segur de guardar els canvis?')) return false;"/>
					  </form>
{% endblock %}
